# Entornos virtuales (Python/Django)
backend/venv/
backend/.venv/
backend/env/
backend/ENV/

# Archivos compilados y cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de base de datos
*.sqlite3
*.sql
*.sql.gz
backend/db.sqlite3
backups/

# Archivos de logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias locales (Node.js/React)
frontend/node_modules/
frontend/.pnp*
frontend/.yarn/cache/
frontend/.yarn/unplugged/
frontend/.yarn/build-state.yml
frontend/.yarn/install-state.gz

# Archivos de build del frontend
frontend/dist/
frontend/dist-ssr/
frontend/build/

# Archivos estáticos recolectados por Django
backend/staticfiles/
backend/static/

# Archivos de configuración sensibles
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.backup

# Archivos de configuración del editor/IDE
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de Docker (opcional, si no quieres versionar ciertos archivos)
docker-compose.override.yml

# Archivos de backups
backup.sql
backups/

# Archivos temporales y cachés
*.tmp
*.bak
*.swp
*~

# Otros
*.lock