# Entorno virtual
venv/
.venv/
env/
ENV/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
*.sqlite3
*.sql
*.sql.gz
db.sqlite3

# Logs
*.log
logs/

# Archivos estáticos recolectados
staticfiles/
static/

# Archivos sensibles
.env
.env.local
.env.*.local

# Configuraciones de IDE
.vscode/
.idea/
.DS_Store

# Archivos temporales
*.tmp
*.bak
*.swp
*~